[2012-06-25 15:26] ghost opened #27 "Invalid methods in request should return 501 Not Implemented"
If you make a request to a snap server using an unsupported method, it just hangs up on you.  It should return a 501 Not Implemented.

[2012-06-25 15:35] ghost opened #28 "Unsupported HTTP versions should return 505 HTTP Version Not Supported"
Requests made with unsupported HTTP versions (HTTP/2.0) are accepted and processed as if they were HTTP 1.1.  They should get 505 HTTP Version Not Supported responses instead.  If HTTP 2.0 actually happens some day, there will be an issue with older snap servers claiming to support it, but not actually supporting it.

[2012-07-26 10:00] istathar opened #29 "Documentation for commandLineConfig could indicate correct usage"
It might be nice to point out in the documentation for commandLineConfig that it has to be called **after** setting various parameters of a Config object. Based on the documentation we have now,  I tried:

[code]

since commandLineConfig says "just pass in emptyConfig to start with". But, if you do that, command line options are ignored. Eeek!

I subsequently discovered you instead have to do:

[c

[2012-07-26 23:23] #29 closed, assigned to nobody

[2012-09-27 17:03] #27 closed, assigned to nobody

[2013-01-14 17:32] tibbe opened #32 "httpServe doesn't respect hostname"
@zsol reports (https://github.com/tibbe/ekg/issues/11) that ekg doesn't respect the hostname given for the server. ekg simply calls `setHostname`, followed by `httpServe`, so the issue is most likely with snap.

Here's the original bug report:

When I tell it to listen on localhost like [here](https://github.com/zsol/hlogster/blob/a3c232f54d863ffea8972c0f89b10d4d2b46e2e5/Logster.hs#L110), it still

[2013-01-14 23:46] #32 closed, assigned to nobody

[2013-03-19 21:29] adek05 opened #35 "Compilation failure - catch not in scope"
Here is snippet from compilation log:

---

[code]

---

Compiled with ghc-7.6.2 and base-4.6.0.1
I would appreciate some hints how to fix it. This file seems to be autogenerated during compilation, because all what is in this file in sources is just some version information, so it is hard to figure out how to edit it.

[2013-03-19 22:14] #35 closed, assigned to nobody

[2013-06-25 16:04] noteed opened #37 "Accept a FD instead of a port number."
It would be nice to be able to start the server on an existing file descriptor instead of having it opening one based on a port number. This can be usefull e.g. with Circus: Circus will manage the port (and call `listen` on it) and fork the server, allowing it to `accept` on the FD shared between possibly multiple snap workers.

[2013-06-25 16:16] noteed opened #38 "Have a variant of `httpServe` that will choose its port number and return it."
It would be nice to have a variant of `httpServe` that choose its port number, possibly starting at some initial value.

This is can be useful for instance when launching multiple "control" command-line commands: each one will return some ID (that make it possible to retrieve the allocate port number), then some querying command-line command will use that ID to communicate with the corresponding c

[2013-06-25 20:02] #38 closed, assigned to nobody

[2014-04-12 13:32] gregorycollins opened #45 "Support haproxy proxy protocol"
Several frontend servers I know of (haproxy, stud, Amazon ELBs, nginx) speak it.

See http://haproxy.1wt.eu/download/1.5/doc/proxy-protocol.txt.

[2014-04-24 10:02] davidxifeng opened #48 "exception escaped to toplevel"
I was running a websockets-snap server on my laptop,
when my wifi was off, I got

`
[24/Apr/2014:15:15:54 +0800] ["192.168.1.204"]: an exception escaped to toplevel:
recv: resource vanished (Connection reset by peer)
`

and some clean up cannot executed,

is this a bug of snap-server?
should snap-server catch recv exception?

[2014-05-03 13:35] noteed opened #49 "Support for certificate chain"
snap-server configures OpenSSL using `contextSetCertificateFile`. It would be great to also support setting a certificate chain via `contextSetCertificateChainFile`.

http://hackage.haskell.org/package/HsOpenSSL-0.10.4/docs/OpenSSL-Session.html#v:contextSetCertificateChainFile

[2014-06-08 12:05] #45 closed, assigned to nobody

[2014-06-22 19:33] rgrinberg opened #50 "Update github project description"
"An iteratee-based HTTP server library, which runs Snap web handlers"

I don't see no iteratees anywhere ;)

[2014-07-03 09:11] jameswilddev opened #51 "Requests fail when SSL is enabled"
Following the instructions here:
http://snapframework.com/faq#how-do-i-enable-ssl

-Rebuilt snap-server with the -fopenssl flag:
cabal install snap snap-server -fopenssl --reinstall

-Generated a key/certificate:
openssl req -x509 -newkey -keyout key.pem -out cert.pem -days 1000

-Running with that key/certificate: (not root at the moment, so non-standard port)
src/Main --ssl-port=8443 --ssl-cert=

[2014-07-03 12:18] #51 closed, assigned to nobody

[2014-07-23 13:31] #50 closed, assigned to nobody

[2014-09-10 15:19] divipp opened #54 "support dependency network > 2.6"
The current version of network is 2.6.0.2,
my package depends on snap-server + pandoc-1.13.1 which needs network >=2.6

[2014-09-11 16:47] #54 closed, assigned to nobody

[2014-10-07 20:29] gisenmann opened #56 "getaddrinfo issue on BSD/Dragonfly"
Hi!
I need this small change to the getaddrinfo call in Snap/Internal/Http/Server/Address.hs
-    let hints = defaultHints { addrFlags = [AI_NUMERICSERV] }
+    let hints = defaultHints { addrFlags = [AI_NUMERICSERV]
+                             , addrSocketType = Stream
+                             }
on Dragonfly. Without I get "getAddrInfo: does not exist (servname not supported for ai_socktyp

[2014-10-16 16:25] govindkrjoshi opened #57 "Snap server fails to install even though dependency is present"
Snap server fails to install with the following error even though network-2.6.0.2 is present.

This is what I get when I try to do 'cabal install snap-server'

Resolving dependencies...
Configuring snap-server-0.9.4.5...
cabal: At least the following dependencies are missing:
network >=2.3 && <2.6 && ==2.6.0.2
cabal: Error: some packages failed to install:
snap-server-0.9.4.5 failed during the con

[2014-10-16 16:58] #57 closed, assigned to nobody

[2014-10-31 12:44] peti opened #58 "Please update overspecified dependency restrictions"
We need to patch this package in NixOS by runnning

[code]

before the build. It would be great if a new version could be released that lifts those restrictions from the Cabal file.

[2014-11-03 21:05] #58 closed, assigned to nobody

[2014-11-20 15:44] owst opened #59 "SSL requires -threaded"
This is not obvious, and in particular, http://snapframework.com/faq#how-do-i-enable-ssl makes no mention of this. Please consider updating the documentation to mention that -threaded is required for SSL connections to work

[2014-12-04 10:36] dikmax opened #60 "SSL server crash"
I'm testing chain-cert functionality. And server is constantly crashing. Usually it shows in stderr only "Shutting down.." message, but sometimes also "server: forkOS_entry: interrupted" and exit code 1.

error.log may contain "got exception in httpAcceptFunc: ProtocolError "error:14076102:SSL routines:SSL23_GET_CLIENT_HELLO:unsupported protocol"

I've used https://www.ssllabs.com/ssltest/ for tes

[2014-12-07 01:05] #60 closed, assigned to nobody

[2014-12-07 01:09] gregorycollins opened #61 "Fix forkOS_entry: interrupted"
Test suite (and probably live servers also) are failing with this error. In the discussion of  https://github.com/snapframework/snap-server/issues/60 @simonmar says:

We are sloppy about this right now and will have to work harder to ensure that our child threads die before the main thread dies.

[2014-12-07 23:12] #61 closed, assigned to nobody

[2014-12-16 03:13] robertmassaioli opened #62 "Allow custom formats for the Access logs; like JSON."
I have been reading through the code and I am pretty sure that I need to override the logA method in order to get custom logging support. I [asked a question on SO about it just in case](http://stackoverflow.com/questions/27496925/haskell-snap-framework-configuring-custom-logging).

But I don't think that I can currently override this logA functionality without changing the code inside of Snap Ser

[2014-12-16 09:15] dikmax opened #63 "Sometimes sockets are not closed."
I found out that server stops accepting connections because there were too many opened sockets in CLOSE_WAIT state. For my server it happens every one or two days and only for ssl connections.

[2015-02-24 10:04] teh commented on #37
Me, too, because I want to set some non-portable flags when opening the socket such as SOCK_CLOEXEC or `setFdOption (fromIntegral $ fdSocket socket) CloseOnExec True`.

[2015-02-24 14:56] gregorycollins commented on #37
@teh we already support that: https://hackage.haskell.org/package/snap-server-0.9.4.6/docs/Snap-Http-Server-Config.html#v:getStartupHook

[2015-02-24 15:49] teh commented on #37
Apologies for missing that - thank you!

[2015-05-15 12:45] sopvop opened #70 "Switch to better option parsing library"
Using System.Console.GetOpt is problematic.
Error reporting from it is real pain.
I think snap should switch to one of the applicative/monadic option parsers instead.

One of the bad things in snap-server config is --proxy options, which uses `error` to report errors, and since that value is actually evaluated in other place, server just dies without error message because at that space it eats all

[2015-05-15 15:43] rgrinberg commented on #70
+1 for optparse-applicative

[2015-05-20 04:33] robertmassaioli commented on #62
@gregorycollins I'm currently working on this code in a branch because I really really want and need this functionality because it would allow me to output all of my logs in JSON format. If I were to write this code such that it could be merged into both 0.9-stable and master would you accept both PR's?

You can see my initial attempts here: https://github.com/snapframework/snap-server/compare/0.9

[2015-05-20 06:56] robertmassaioli commented on #62
Please have a look at my initial attempts and let me know if I am going in the right direction. I'd like feedback now before I spin my wheels too fast in one direction. :D

[2015-05-20 11:19] robertmassaioli commented on #62
I have tested this branch against my Snap application My Reminders and it is working:

![My Reminders JSON log](https://s3.amazonaws.com/uploads.hipchat.com/10804/83693/PXjauYS0wpoxurf/Screen%20Shot%202015-05-20%20at%206.21.24%20pm.png)

So my branch seems to be workable to accomplish the goal of logging your access and error logs in a custom format.

You can see an example of me using this branch

[2015-05-27 00:24] robertmassaioli commented on #62
Ping. These PR's have been open for a week now without comment. Sorry that I'm pinging so soon but:

 1. I suspect that there may still be more work to do on these PR's; especially if you want me to use the OutputStream code.
 1. The sooner this code gets released the sooner that I can hookup better Logstash / Kibana logging to my services. Which I think they desperately need.

Cheers and sorry if

[2015-05-27 17:51] gregorycollins commented on #62
I was on vacation all last week and didn't get to it on the weekend because I have a houseguest. I'll take a look today.

[2015-05-27 21:32] robertmassaioli commented on #62
Wow, I am such a pest. I am really sorry. Thank you so much for looking at this so soon. In my defence I guess I'm just excited about submitting changes back to snap.

[2015-05-27 22:19] gregorycollins commented on #62
Believe me, I'm quite happy you sent the patches :)

[2015-06-01 12:22] robertmassaioli commented on #62
@gregorycollins What do you think about this snippet for the release logs:

control your log file output format. The two functions are setAccessLogHandler and
setErrorLogHandler. These methods respectively will let you control how the access and error log
lines are rendered respectively. This is useful if you wist to modify the log line output; for
example, if you wish to log in a custom data form

[2015-06-01 21:24] robertmassaioli commented on #62
@gregorycollins Also, I have bumped the snap-server version to 0.9.6 because I have only made additive changes. Not sure if anybody else has made breaking changes that would require a bump to 0.10.0? At any rate, you can see that my additions to 0.9-stable still build against snap 0.14-stable: https://bitbucket.org/snippets/robertmassaioli/rkpK7

Cheers!

[2015-06-02 16:48] gregorycollins commented on #62
See my comment on the changeset, we will need a major bump for this.

Your initial wording sounds OK to me, but the best way to handle this will be to open a pull request on snap-website, we can discuss the minutae there.

[2015-06-02 18:04] sopvop commented on #70
Args parsing is not that important to add deps to package. Can be done externally.

[2015-06-02 18:04] #70 closed

[2015-06-05 08:18] robertmassaioli commented on #62
I have responded: https://github.com/snapframework/snap-server/pull/71/files#r31794779

I hope that changing the Config instance is not enough to prevent a backport. After all, it implements Monoid and even the docs recommend to create it with the monoid instance.

[2015-06-24 20:25] bitemyapp opened #74 "httpServe appears to be interfering with slave-thread"
Children aren't getting harvested on ctrl-c in GHCi, can see their output continue even though the web server itself successfully shut down.

I think slave-thread needs[1] a ThreadKilled[2] exception to bubble up to the parent thread (the one in `main` which invoked `httpServe`) in order for it to do its thing.

[This](https://github.com/snapframework/snap-server/blob/master/src/Snap/Http/Server.h

[2015-06-24 20:50] bitemyapp commented on #74
Repro project: https://github.com/bitemyapp/snap-slave-thread-repro/blob/master/src/Main.hs#L34-L55

Screenshot:

![screen shot 2015-06-24 at 3 48 46 pm](https://cloud.githubusercontent.com/assets/320177/8341173/c520bd00-1a88-11e5-90da-2ae9be315777.png)

[2015-06-24 21:29] bitemyapp commented on #74
Also `:main` vs. `main` makes no difference.

[2015-06-25 05:06] gregorycollins commented on #74
What's the desired behaviour? You want `httpServe` to rethrow `ThreadKilled`?

We can do that if necessary, but the repro example doesn't seem kosher to me. Up to this point the idea has been that the server loops forever until it gets `ThreadKilled` from outside, and then it exits. Rethrowing it seemed superfluous, since the only reason `httpServe` would exit is if it got a `ThreadKilled`.

Looki

[2015-06-25 14:17] mightybyte commented on #74
Greg's bracket solution seems to work for me.

[2015-06-25 17:26] gregorycollins commented on #74
...and if you want to do it really really correctly, you should wait for the child thread to finish processing before you exit from main --- these days I would use the `async` package for this, your bracket cleanup task turns into `\x -> cancel x >> wait x` in that scenario.

[2015-06-25 19:08] bitemyapp commented on #74
@gregorycollins using async would miss the point of slave-thread.

In this situation, I would expect `httpServe` to rethrow `ThreadKilled`. I don't know why I would want my web server to take complete control over handling SIGINT.

This reproduction is not a perfect simulation of what we're doing in our application.

In our application, it's doing a SlaveThread.fork from the App init.

[code]

You

[2015-06-25 19:53] bitemyapp commented on #74
@gregorycollins @mightybyte Would you be willing to make it stop hiding `ThreadKilled`? Hiding `ThreadKilled` is like catching and gobbling `OutOfMemoryError` on the JVM.

[2015-06-26 15:49] gregorycollins commented on #74
@bitemyapp I don't agree that `ThreadKilled` is in any way like `OutOfMemoryError`. `ThreadKilled` is a signal that the thread should clean itself up and exit, and that's what `httpServe` does. Semantically `httpServe` is bottom, i.e. it will never return unless it receives an async thread, so it "owns" the thread now and getting ThreadKilled forces it to exit. To me it's not cut and dried that re

[2015-06-26 16:36] bitemyapp commented on #74
@gregorycollins I did try the latter, didn't fix it. I'm left with a few possibilities.

1. GHCi is special (I don't think that applies here, but I could be wrong)

2. The way Snap manages the thread-pool is causing slave-thread not to clean up after itself when the web server dies (the forks are from within the app init)

So, I think you're right, if my rethrow didn't fix it – changing it won't f

[2015-06-26 16:43] gregorycollins commented on #74
I mean, I wouldn't expect for those slave threads to be cleaned up, not unless

 1. the thread that forked them was itself run by `SlaveThread.fork`, or
 2. you explicitly killed them yourself using `killThread` in a finally or bracket block

[2015-06-26 16:44] gregorycollins commented on #74
Also a potential reason why the behaviour is different in ghci: you don't get the main-thread-seppuku "feature" there because the ghci interpreter thread is not the main thread.

[2015-06-26 16:48] bitemyapp commented on #74
@gregorycollins GHCi does still show the ThreadKilled exception, seems like GHCi shouldn't break that behavior but I don't know what it really does in this case.

I'm pretty sure your first item is impossible because it doesn't seem like Snap provides a way to control or configure thread pool management.

Second item is ~roughly what I was thinking I would have to do.

[2015-06-26 16:54] gregorycollins commented on #74
Running the snap initializer in a slave-thread itself would mean that threads it directly forked (using SlaveThread.fork) would get cleaned up on exit. Of course, that just means that you'd have to write a latch in the main thread to wait for clean shutdown on ctrl-c there.

If the bracket idiom is too much of a PITA you can try ResourceT.

[2015-06-26 16:58] bitemyapp commented on #74
@gregorycollins I might try SlaveThread forking the httpServe and bracketing on an async value or something so I know when it ended.

[2015-06-26 16:59] bitemyapp commented on #74
@gregorycollins you kicking this around is helping clear up my confusion on this, thank you very much!

[2015-06-29 21:03] bitemyapp commented on #74
@gregorycollins I tested forking the `httpServe` invocation and cleanup via `SlaveThread.fork` and added a 10 second timeout to see if killing the thread would also kill the children -- it did not.

It seems right now like the only way to work around this is to have a manual registry of the task runner threads and harvest those on cleanup.

[2015-07-01 16:41] gregorycollins commented on #74
Yes, I think you should keep a list of the worker threads. Alternatively if you're forking this thread within a snaplet initializer then we provide

[code]

You can use this to kill the thread when the snaplet is torn down.

[2015-07-01 18:31] bitemyapp commented on #74
@gregorycollins this is a good alternative I'll keep in mind. Instead, we're catching exceptions from `httpServe` and performing cleanup in `main`.

In fact, there was a problem with using a lifted `try` from enclosed exceptions [which you can see here](https://github.com/jcristovao/enclosed-exceptions/issues/8#issuecomment-117716200).

I had to change it back to `Control.Exception.try` for it to

[2015-07-02 17:26] gregorycollins commented on #74
Code using `try` here still smells bad -- you can get another async exception between `httpServe` finishing and your cleanup handler running. IMO plain old `bracket` is best, but if the nesting is too onerous then `ResourceT` would be the next recommendation.

To do this kind of thing properly you have to carefully mask exceptions at the right places and make sure you don't leave a cancellation po

[2015-07-04 21:49] bitemyapp commented on #74
@gregorycollins IIUC – I would be wrapping `httpServe` in `bracket` and putting all the cleanup logic in there? Seems reasonable.

[2015-07-06 18:07] gregorycollins commented on #74
More or less: you should bracket wherever you're creating a slave thread using forkIO. E.g.

[code]

When using `bracket` and I have to allocate more than one thing that requires destruction, I usually define construction/destruction helper functions to do the work. It's tricky because a lot of times you need to use `bracketOnError` in the construction function to make sure either all of the value

[2015-07-06 18:31] bitemyapp commented on #74
@gregorycollins the try isn't for cleanup though, it's so we can log the error if one occurred. `bracket` doesn't do anything for us there AFAICT. Is `try` still appropriate given that?

[2015-07-07 17:29] gregorycollins commented on #74
Personally I would wrap the `bracket` with a surrounding `catch`, since `bracket` will rethrow -- by the time you end up in your exception handler (where you can log) all of the resources should be cleaned up.

[2015-07-07 18:35] bitemyapp commented on #74
@gregorycollins seems sensible, I'll kick that around. Thank you!

[2015-07-23 18:58] wereHamster opened #76 "Allow binding to unix socket"
I tried to use `setBind "/path/to/unix.socket"` but the server parses the bytestring as IP address.

[2015-07-23 19:36] sopvop commented on #76
Implemented in 1.0. Config has setUnixSocket and setUnixSocketAccessMode setters.

[2015-07-23 20:32] wereHamster commented on #76
What happens when I do both `setBind` and `setUnixSocket` ?

[2015-07-23 20:33] sopvop commented on #76
Server will listen on both

[2015-07-24 03:15] #76 closed

[2015-08-08 21:31] wereHamster commented on #76
Is there an ETA when 1.0 will be released?

[2015-08-10 16:04] simon-bourne opened #77 "Snap memory usage for large HTTP response bodies"
Hi, I'm trying to deliver a large HTTP response using the Haskell Snap framework, but memory usage grows in proportion to the size of the response. Here's a couple of cut down test cases that use a large lazy ByteString:

    import Snap.Core (Snap, writeLBS, readRequestBody)
    import Snap.Http.Server (quickHttpServe)
    import Control.Monad.IO.Class (MonadIO(liftIO))
    import qualified Data.

[2015-08-20 04:26] gregorycollins commented on #76
We are close to code complete (you could start demoing it by running from git master now) but have quite a few tasks to do still before 1.0 will be ready.

[2015-08-20 09:38] simon-bourne commented on #77
As discussed on [google groups](https://groups.google.com/forum/#!topic/snap_framework/su0HpwhaRaM), snap 1.0 uses IO streams which may fix this issue. I'll log a separate issue in due course if it's still a problem in 1.0.

[2015-08-21 02:32] gregorycollins commented on #77
It's still a problem if "writeLBS" is too strict, especially if the bug is still happening on 1.0

[2015-10-22 17:16] creswick commented on #59
What's the failure behavior if you don't use threaded?

[2015-11-03 00:08] wereHamster opened #80 "Impossible to bind /only/ to unix socket"
If I start the server with a config where only the unix path is set, it automatically starts listening on the default TCP port (`no port specified, defaulting to port 8000`). This is an issue for me. I start potentially many servers, each listens on a unique unix socket. There is no way to reliably start them all without also allocating an unused TCP port for each one.

[2015-11-08 21:30] gregorycollins commented on #80
Hi,

You can do this but you might have to avoid using `simpleHttpServe` (which sets up a lot of these defaults for you) and instead write some config-twiddling code directly. You need to avoid calling [`completeConfig`](https://github.com/snapframework/snap-server/blob/0.9-stable/src/Snap/Internal/Http/Server/Config.hs#L402) which is called by `extendedCommandLineConfig`, and so you'll probably h

[2015-11-10 22:30] wereHamster commented on #80
Both `simpleHttpServe` and `httpServe` call `completeConfig`. I'm not very keen on reimplementing the logic inside `simpleHttpServe` which actually runs the server (`rawHttpServe`). So while technically possible, it's not what I'd call straight forward to use.

Furthermore, to be able to directly call `rawHttpServe` it appears one must import at least one function from the Internal module (`snapTo

[2015-11-13 15:29] gregorycollins commented on #80
I understand all of that -- but if you want it fixed for 0.9 you'll have to work around, and that's what you're going to have to do (internal module and all). I'll make sure that 1.0 supports this use case out of the box.

[2015-12-16 21:23] imalsogreg opened #82 "Empty response from snap apps in Ubuntu"
Snap projects compiled under  Ubuntu against Snap 1.0 ( aa87e46f50a7485ae315ebf303ed949a1447d24d and the git submodules it comes packaged with) fail to serve data.
When run on port 8000, `curl localhost:8000` produces: `curl: (52) Empty reply from server`
When run as su on port 80, `curl localhost` gives `curl: (56) Recv failure: Connection reset by peer`

A minimal example is here: http://github.

[2015-12-18 00:12] mightybyte commented on #82
As per discussion with @imalsogreg on IRC it sounds like clock-0.5.2 seems to be the offending package here.  The problem happens with clock-0.5.2 and clock-0.6.0.1, but not with clock-0.5.1.  Here is the complete diff between clock-0.5.1 and clock-0.5.2.

https://gist.github.com/mightybyte/6793a5b18ee002aa2dad

[2015-12-29 12:36] wrl314 opened #83 "In 0.9.5.1, 204 responses include Transfer-Encoding, violating RFC 7230, confuses haproxy"
In snap-core 0.9.8.0 a commit was made (10f44610f5e597f665de7c3e8d07a70870c97688) in response to issue #242 which removes Content-Length header for both 204 and 304 responses. This is correct for 204 responses per RFC 7230.

But with snap-server 0.9.5.1 (latest on hackage), sendResponse adds "Transfer-Encoding: chunked" header when Content-Length is missing, response is HTTP/1.1 and not a HEAD met

[2015-12-30 00:42] cgag commented on #56
This was fixed in #67, it can be closed.

[2016-01-05 17:52] #56 closed

[2016-02-09 15:16] Yuras commented on #83
This issue also confuses `http-client`. It doesn't read response body in case of 204 status, but tries to reuse the connection. At a result, the next request fails because it reads the terminating chunk from the previous response instead of status line for the current response. The fix proposed by @wrl314 works for me (thanks!) What about merging it to `0.9-stable` and making a release?

[2016-04-27 22:55] imalsogreg opened #85 "[commandline] servers seem not to block waiting for connections"
I'm working on the commandline branch. A simple example server such as the one below prints the typical snap startup info to stdout, and then the process immediately ends without writing anything to access.log or error.log:

[code]

Steps to reproduce:

 1. git clone git@github.com:imalsogreg/snap
 1. cd snap
 1. git checkout origin/fallthrough
 1. git submodule update --init --recursive
 1. ./ini

[2016-04-28 00:07] mightybyte commented on #85
This wouldn't be that old clock issue that you discovered would it?  If so, since there is now a fixed version available, we should definitely add a constraint to leave out the offending versions.

[2016-04-28 00:08] imalsogreg commented on #85
:+1: for some constraints than exclude (clock >= 0.5.2 && < 0.7). I don't think that is the issue here though. My clock is at v0.5.1.

[2016-04-29 14:01] mightybyte commented on #85
Just thinking about this a little more...does the issue happen on the master branch?  That could help in tracking it down.

[2016-04-29 18:53] imalsogreg commented on #85
The same simple program `main = quickHttpServe (writeText $ pack "Hello")` runs as usual on the master branch.

[2016-04-29 19:29] mightybyte commented on #85
Does the test suite pass on the commandline branch?  Based on the nature of your report here, I would hope the test suite is failing.

[2016-04-29 20:26] imalsogreg commented on #85
### Snap testsuite:

I had to [update the test suite](https://github.com/snapframework/snap/compare/master...imalsogreg:fallthrough?expand=1) a little to match the new types in commandline.

Testsuite [fails many of the hspec cases](https://gist.github.com/imalsogreg/e252dec38cdccd88ee7fe67e725857a2) with `(Connection refused)` errors (consistent with the server not staying up long enough to do an

[2016-04-29 20:46] sopvop commented on #85
I think the problem is in [this](https://github.com/snapframework/snap-server/blob/commandline/src/Snap/Http/Server/CmdlineConfig.hs#L164) being a maybe monad and [this](https://github.com/snapframework/snap-server/blob/commandline/src/Snap/Internal/Http/Server/CmdlineConfig.hs#L357) not setting port. Can't check this myself right now, unfortunately.

[2016-04-29 20:58] imalsogreg commented on #85
@sopvop Thanks for the lead. Based on that, I tried explicitly setting the default port [here](https://github.com/snapframework/snap-server/blob/commandline/src/Snap/Internal/Http/Server/CmdlineConfig.hs#L357) to `Just 8000`. This does causes a port to be picked by default, but doesn't prevent the fallthrough. Also - choosing a port at runtime with the `-p 8001` flag, 8001 makes it all the way thr

[2016-08-11 08:43] snoyberg opened #89 "Test suite build failure"
[code]

[2016-08-17 13:56] mightybyte commented on #89
Can't reproduce

[2016-08-17 13:56] #89 closed

[2016-08-17 15:52] Yuras commented on #89
The `Snap.Internal.Http.Server.Address.Tests` module is not mentioned in the cabal file, it seems to be the cause.

Note that `Snap.Internal.Http.Server.Address` module it mentioned twice: [1](https://github.com/snapframework/snap-server/blob/master/snap-server.cabal#L170), [2](https://github.com/snapframework/snap-server/blob/master/snap-server.cabal#L184). The latter one is probably a typo.

[2016-08-17 17:39] mightybyte commented on #89
Ahh yes, it looks like that fixed it.

[2016-09-11 20:45] snap9 opened #90 "--proxy=X_Forwarded_For is not working"
Problem: The IP address logged into the file given by `--access-log=<logfile>` is recording `127.0.0.1` instead of the real visitor IP address. This happens even if I specify `--proxy=X_Forwarded_For`.

I have also tried putting my entire Snap app (in Haskell) behind `behindProxy X_Forwarded_For $` but that doesn't work either.

This is my nginx setup:

[code]

What am I doing wrong?

[2016-10-06 23:54] GrappigPanda opened #91 "FreeBSD failure to install"
Hey there.

Whenever attempting `stack install snap`, I've found that the build process fails due to snap-server.

I get the following error:
[code]

Whenever I look at the accompanying file (https://github.com/snapframework/snap-server/blob/master/src/System/SendFile/FreeBSD.hsc), I notice it's just a type signature.

I'm mostly wondering if this is due to historical reasons that it's not impleme

[2016-10-07 06:06] mightybyte commented on #91
I really don't know what the reason is for that.  I presume it's simply an oversight because nobody ever tried building on FreeBSD.  If you are building on FreeBSD and can provide a fix, that would be greatly appreciated.!

[2016-10-17 12:41] cmoore commented on #91
On the off chance that you want to just get things working, setting the 'portable' flag will skip building with sendfile.

It's not the best, but if you serve static content with nginx anyway, it's not too bad.

[2016-10-18 12:02] sigrlami opened #92 "SSL support"
Documentation outlines http://snapframework.com/faq#how-do-i-enable-ssl that to include ssl support I need to recompile it.

I'm working withing stack, so I do
[code]
Which seems like downloading openssl-streams and rebuilding server with flag, but running server with command
[code]
1. gives no indication of working ssl (https://localhost:443 gives nothing)
2. doesn't notify if there is wrong path

[2016-10-22 11:58] snap9 commented on #90
For your information, `rqClientAddr` in my own Haskell code works perfectly to obtain the correct IP address. (When I run my Snap app with `--proxy=X_Forwarded_For`.)

It's just the **log file that gets the incorrect IP address**. Can you guys check the logging code? Maybe that's not using the correct forwarded IP address.

@mightybyte @gregorycollins

[2016-10-27 19:19] #91 closed

[2016-11-05 16:28] sigrlami commented on #90
I can see this running snap app with Docker in Google Cloud, but not on standalone VM. On standalone VM x_forwarded_for is properly set, but rqClientAddr still gives local.

[2016-11-06 17:58] mightybyte commented on #92
We're still working on overhauled command line config support.  Can you try setting your config explicitly something like this?

[code]

[2016-12-07 22:17] HeinrichApfelmus opened #94 "Log request and exceptions for handlers that use `escapeHttp` and `terminateConnection`"
When using `escapeHttp` or `terminateConnection` to serve a request, the Snap HTTP server will not make any attempt to log the request, or any exception that the handler may throw.

I would prefer if Snap logs the requested path and any exception that the handler might throw. I found this useful in my [Threepenny-GUI][1] project. See also HeinrichApfelmus/threepenny-gui#145 .

  [1]: https://githu

[2016-12-16 17:19] karls commented on #90
I just wanted to comment that I'm seeing the same behaviour as @snap9 in `snap-core-0.9.8.0` -- the log file displays `127.0.0.1` no matter what I do, but asking for `rqClientAddr` in a `Handler` and printing that yields the correct IP.

[2016-12-28 17:44] mightybyte commented on #92
I changed the title of this issue because I got another comment about an incorrect cert path resulting in a silent failure with no clue as to the problem.  We should probably fix that.

[2017-01-24 10:52] arybczak opened #96 "setUnicodeLocale is dangerous and might lead to segmentation faults"
The underlying problem is that setenv is not thread safe as simultaneous call to getenv in multithreaded enviroment might lead to segmentation fault by attempting to dereference a null pointer ([relevant glibc ticket](https://sourceware.org/bugzilla/show_bug.cgi?id=5069)).

Considering that snap is usually started in a separate thread, this creates a serious issue, because a wide variety of functi

[2017-03-16 14:41] Yuras opened #99 "Time manager retains threads forever"
After switching to `snap-server-1.0.1.1` from `snap-server-0.9.5.1`, I see huge and increasing memory usage. It seems to be related to time manager retaining threads forever.

[`register`](https://github.com/snapframework/snap-server/blob/master/src/Snap/Internal/Http/Server/TimeoutManager.hs#L128) adds thread object to a list. It seems that [`cancel`](https://github.com/snapframework/snap-server/

[2017-03-22 22:06] mightybyte commented on #99
Hi there, and thanks for the bug report!  This definitely seems like a serious issue that we need to address.  @gregorycollins and I have been very busy lately, so we've gotten a little behind in snap maintenance.  Is there any chance you could put together a small self-contained test case to demonstrate this problem?  That would be a huge help to us in getting a fix released.  The ideal thing wou

[2017-03-23 07:49] Yuras commented on #99
@mightybyte Thank you for the response.

It is hard to make a failing test case, but it is trivial to reproduce:

[code]

Compile with `ghc-8.0.1` and `snap-server-1.0.1.1`, run with `+RTS -S` to see memory usage online, and call the endpoint 1000 times:

[code]

Note how live bytes grows linearly.

[2017-03-23 08:22] Yuras commented on #99
I compiled the example above with profiling enabled and run with `+RTS -hy -xt`. It shows, that most of the memory is used by `STACK`. It confirms that worker threads are live (because their `ThreadId` is retained by time manager), so their stacks are not collected by GC:

![snap-server-leak](https://cloud.githubusercontent.com/assets/692251/24238235/a651ae60-0fba-11e7-993e-380be6de625c.png)

Runn

[2017-03-28 20:39] Yuras commented on #99
@mightybyte Just a friendly reminder. Were you able to reproduce it? Anything else I can do?

[2017-04-06 04:42] levinem commented on #99
@Yuras, I am trying to replicate your example above.   I have compiled the Main.exe file using your  sample Main.hs text you suggested above, but as I am a bit of a novice with this, are you typing the "for i in {0..1000} ; do
	echo $i
	curl http://localhost:8000/test
done" portion into ghci?

[2017-04-06 06:10] Yuras commented on #99
@levinem Thank you for looking to it. No, the for loop in a bash script. You can put it into a file and run with `bash filename`. Or just run curl manually 1000 times :)

[2017-05-05 10:10] pbv commented on #63
Any update on this? I am experiencing a similar behavior using snap-server-1.0.1.1 serving SSL connections. The server stops responding and netstat reports ~80 connections in CLOSE_WAIT state.
For my server this happens infrequently - maybe once every two weeks.

[2017-05-15 20:49] gregorycollins commented on #99
Are the threads retained "forever"? ...because you've linked in plots that cover less than half a second of wall clock time. The timeout manager runs in a polling loop and the hardcoded wakeup interval is 2 seconds, i.e. if you throw sustained load at the server the expected plot is expected to look like a sawtooth wave. See the implementation of TimeoutManager as well as the initialization point

[2017-05-15 21:11] gregorycollins commented on #99
....as for why it's written this way: this is a standard queuing theory thing. In general, it's usually the case that you can trade off latency for throughput by controlling batch size. As batch size increases, throughput increases (hot caches, fewer context switches, etc), but latency and RAM/disk requirements also increase because items are sitting around in buffers waiting to be processed.

In

[2017-05-15 21:19] gregorycollins commented on #99
Follow-up: however you're right that `cancel` isn't being called right now, and that's an oversight. This makes the problem worse, since the timeout thread will hold the `ThreadIds` for the entire timeout interval.

[2017-05-15 21:28] #99 closed

[2017-05-15 21:33] gregorycollins commented on #63
@pbv I would love a reproduction testcase. I just fixed an issue with the timeout manager in 3d03b32a6f2d6ecdf9698df09f4ef61096ca5054 -- that's released as 1.0.2.2, please let me know if that version helps.

[2017-05-16 09:43] pbv commented on #63
@gregorycollins OK, I've updated to 1.0.2.2 I check if the problem occurs again.

 Unfortunately I haven't been able to reliably reproduce the bug. It appears to be unrelated to server load (i.e. some of the hangups during the night there shouldn't much load - this is a web app for students' exercises).  What I can confirm is that I've set up a separate server running snap-server-0.9.5.1 and that

[2017-05-28 21:47] hvr commented on #90
What makes this even weirder is that the logging code appears to use `rqClientAddr` as well: https://github.com/snapframework/snap-server/blob/master/src/Snap/Http/Server.hs#L143

[2017-05-29 08:31] sopvop commented on #90
I belive that `X_Forwarded_For` proxy code is part of handler executed by server, it operates on `request` as passed to user handler. And logging is part of server code which operates on original request.

httpServe modifies the user `handler` with proxy and passes it to simpleHttpServe which then setups loggers and the rest.
[code]

And then in httpSession the [handler is called with *original* r

[2017-06-01 11:03] pbv commented on #63
@gregorycollins: I confirm that the snap-server-1.0.2.2 still stops accepting connections with lots of connections in CLOSE_WAIT state. Is there anything you suggest I do to try to diagnose the problem?

[2017-06-01 21:19] gregorycollins commented on #63
@pbv: ok, some thoughts for debugging this:

Add debug calls inside snap-server for the .TLS and .Socket modules. I am especially interested in tracing the call to "sClose" and reporting exceptions caught by any exception handlers. I'm going to have a look to audit our exception handlers.

[2017-06-01 21:24] gregorycollins commented on #63
@pbv: can you try e86f8a825305c7b4b344e162d7b49c2119922a56 ? That seems like the only obvious point where we might be leaking the socket.

[2017-06-01 21:30] #90 closed

[2017-06-01 21:30] gregorycollins commented on #90
Could you please confirm that aa989e3 fixes?

[2017-06-02 09:38] pbv commented on #63
@gregorycollins:OK I'll try that patch (BTW, the .TLS module is missing an import for onException).

[2017-06-02 14:08] gregorycollins commented on #63
@pbv fixed in 59989aef78f82b846a768f6f436f4e9fa8bea92b

[2017-07-20 17:20] #49 closed

[2017-09-04 06:27] gregorycollins commented on #83
I don't think snap 1.0 has this bug? Please reopen if it isn't fixed.

[2017-09-04 06:27] #83 closed

[2017-09-04 06:28] #82 closed

[2017-09-21 17:39] Yuras opened #104 "Cancel timeout properly"
Cancel was added (see https://github.com/snapframework/snap-server/issues/99#issuecomment-301608097) in this commit: https://github.com/snapframework/snap-server/commit/3d03b32a6f2d6ecdf9698df09f4ef61096ca5054

But here: https://github.com/snapframework/snap-server/commit/3d03b32a6f2d6ecdf9698df09f4ef61096ca5054#diff-6b4d869d46e926e6a8a592022cf1aa89R198 `cancel` is returned, not called. As a resul

[2017-09-22 05:06] #104 closed

[2017-09-22 05:07] gregorycollins commented on #104
Sigh. Good catch

[2018-03-15 00:07] sjakobi opened #110 "Compile errors with v1.0.3.3"
Now that `blaze-builder-0.4.1.0` is out, I get a compile error with `snap-server-1.0.3.3`:

[code]

Maybe consider revising some releases with lower bounds on base or deprecating them.

[2018-03-15 04:45] mightybyte commented on #110
I added an upper bound on base.  Let me know if that doesn't stop the compile error.

[2018-03-15 10:27] sjakobi commented on #110
Oh well, cabal's solver picked v1.0.3.2 now! :) I guess you'll have to release a new version… :)

[2018-03-20 09:36] 23Skidoo commented on #110
1.0.3.0 has the same problem.

[2018-03-20 09:48] 23Skidoo commented on #110
`master` works fine with GHC 8.4.1, so it looks like this will be fixed once the new release is out. When can we expect to see it?

[2018-03-20 09:51] sjakobi commented on #110
@23Skidoo: I had just asked the same question. [In the next few days](https://github.com/snapframework/snap-server/pull/111#issuecomment-374397497) was the answer.

[2018-03-20 09:53] 23Skidoo commented on #110
Great, thanks!

[2018-03-20 13:07] mightybyte commented on #110
Just uploaded to hackage

[2018-03-20 13:07] #110 closed

[2018-09-30 18:17] sjakobi opened #116 "GHC-8.6.1 compatibility"
A few dependency version bounds need to be bumped.

[2018-10-19 02:53] #116 closed

[2018-10-19 02:53] mightybyte commented on #116
Updated and made a hackage revision.

[2018-10-19 17:47] sjakobi commented on #116
Cheers! :+1: :)

[2018-11-12 21:11] tom-bop opened #118 "Timeout for pure values"
Continuing the conversation from here: https://github.com/snapframework/snap-core/issues/283

**tl;dr** Handlers seem not to correctly time out if computing a pure value causes them to overrun their time deadline.

Repro:
[code]

If you `curl 'localhost:8000'`, it won't time out in 5 seconds, or seemingly ever. If you change `writeBS $` to `writeBS $!`, though, forcing the value to WHNF is enough

[2018-11-13 04:50] mightybyte commented on #118
Sure.  I think this is worth investigating.  One thing I'm curious about is whether you can come up with another handler for which `$!` does not solve the problem.  If so, that would be an even better thing to test your fix on.

[2018-11-13 19:51] tom-bop commented on #118
Here's an example that still fails to timeout with `($!)`:

[code]

(Again just `curl 'localhost:8000'`)

[2018-11-14 15:02] gregorycollins commented on #118
Before we attempt any fixes it's important to understand why this is happening -- there might not be anything that can be done about it. The GHC runtime relies on calls into the allocator to do scheduling or to check for delivery of async exceptions. See the [ghc commentary](https://ghc.haskell.org/trac/ghc/wiki/Commentary/Rts/Scheduler). Tight loops that don't allocate won't get exceptions and ne

[2018-11-29 21:19] tom-audm commented on #118
Building with ```-fno-omit-yields``` does not fix the problem, which makes me wonder if it is not (entirely) that known GHC issue.

I've also, in less-simple repro cases, observed the same behavior with code that's not a tight non-allocating loop. If it helps I can provide an example.

[2019-01-28 16:40] tom-audm opened #119 "ProxyType "FIXME"?"
https://github.com/snapframework/snap-server/blob/master/src/Snap/Internal/Http/Server/Config.hs#L127

What does `FIXME` mean here? Can we expect `ProxyType` to work correctly?

[2019-02-03 04:59] l29ah opened #121 "src/Snap/Internal/Http/Server/Socket.hs:176:5: error: Conflicting definitions for ‘acquire’"
Building 1.1.1.0:
[code]

[2019-02-03 14:53] mightybyte commented on #121
I just merged PR #120 which should fix this.  Can you see if that works for you?

[2019-02-03 23:44] l29ah commented on #121
It works, thank you.

[2019-02-03 23:44] #121 closed

[2019-02-22 22:08] gregorycollins commented on #119
No, it means I forgot to finish the docstring :wink:

The proxy types listed should work, I believe we test them in the testsuite.

[2019-02-22 22:08] #119 closed

[2019-04-08 20:02] cgibbard commented on #63
Is there a reason this is still open?

[2019-04-14 16:21] #63 closed

[2020-04-06 17:51] sjakobi opened #128 "Support for GHC 8.10"
AFAICT only the bound on `base` needs to be bumped.

`io-stream-haproxy` needs an update too: https://github.com/snapframework/io-streams-haproxy/issues/19

[2020-04-25 02:40] felixonmars commented on #128
If I'm not mistaken the following error needs to be addressed as well:

[code]

[2020-04-30 07:48] felixonmars commented on #128
^ Removed: Looks like an error on my side. Sorry!

[2020-05-13 13:50] sjakobi commented on #128
Ping @mightybyte, @gregorycollins! :)

[2020-05-18 02:39] sjakobi commented on #128
There's some promising WIP in https://github.com/snapframework/snap-server/pull/129. Thanks @mightybyte! :)

[2020-05-20 14:36] #128 closed

[2020-05-20 14:43] sjakobi commented on #128
Many thanks for the new release, @mightybyte! :)

[2020-06-24 07:51] sjakobi opened #134 "Compatibility with random-1.2"
The testsuite uses has a dependency on `random` that needs to be bumped.

So far I haven't been able to build it with the new version yet though, due to

* [ ] https://github.com/haskell/test-framework/pull/53

…and more importantly

* [ ] https://github.com/snapframework/snap-core/pull/295

Context: https://github.com/commercialhaskell/stackage/issues/5474

[2020-09-12 21:21] henrylaxen opened #136 "Does SSL work on a non standard port?"
When I start a snap server on a port other than 443 strange things happen.  On port 444 or 445 when I make a request it just hangs.  On port 888 or 999 I get into an infinite reset loop.  Observe:

[code]

Results in:

[code]
[code]
and it hangs forever.

No one else is listening to these ports:

[code]

Is this the expected behaviour?  Any insights would be appreciated.
Best wishes,
Henry Laxen

[2020-10-30 14:52] gregorycollins commented on #136
I'm not sure what's going on w.r.t port 444 but in your posted example you started the server on 8888 and tried to contact it on 888.

Works for me:
[code]

[code]

Check the error logs and double-check your cert, make sure you build `-threaded`, etc. Closing as "works for me", but --
in trying to reproduce this I found a compile-time bug with our TLS backend on network >= 3, so thanks ;-)

[2020-10-30 14:52] #136 closed

[2021-01-18 00:12] lehins commented on #134
Both of the mentioned PRs have been merged and #135 has been merged too. Only missing test-framework and test-framework-quickcheck2 releases now, right?

[2021-01-18 00:43] sjakobi commented on #134
@lehins Indeed, if I use `allow-newer` for these two dependencies, the testsuite builds fine and passes.

Nothing left to do on this side! :)

[2021-01-18 00:43] #134 closed

[2021-05-10 20:25] sjakobi opened #141 "Support for GHC 9.0.1"
The latest release requires base < 4.15, so at least that bound needs to be relaxed.

[2021-05-19 22:20] kozross opened #142 "Support newer bytestring"
Currently, `snap-server` is bounded to versions of `bytestring` below `0.11.*`. Could this be bumped?

[2021-07-09 15:32] sjakobi opened #144 "Compatibility with transformers 0.6 and mtl 2.3"
https://hackage.haskell.org/package/transformers-0.6.0.0/changelog

Could you upload a compatible release or make a Hackage revision?

[2022-03-27 16:51] nrnrnr commented on #141
What are the chances of getting this change into an updated version on Hackage?

[2022-04-05 20:26] andreasabel opened #147 "Allow `text-2.0`"
Currently `text-2.0` is excluded by the constraints on `text`.

[2022-04-25 17:15] andreasabel commented on #141
This issue looks fixed: https://hackage.haskell.org/package/snap-server-1.1.2.0/revisions/

[2022-04-25 17:16] andreasabel commented on #142
This issue looks fixed: https://hackage.haskell.org/package/snap-server-1.1.2.0/revisions/

[2022-04-25 17:42] sjakobi commented on #141
Great news! :) Thank you, @mightybyte!

[2022-04-25 17:42] #141 closed

[2022-05-01 15:36] sjakobi opened #148 "Compatibility with GHC-9.2"
As far as I can tell, `snap-server-1.1.2.0` is already buildable with GHC-9.2 when the upper bounds on `base` and `attoparsec` are relaxed. Could you adjust these bounds?

[2022-06-25 19:46] arrowd commented on #148
Any movement on this?

[2022-08-14 18:27] ysangkok commented on #148
I think it would be better to bump all of base, unix, unix-compat, text, transformers, vector, criterion at once, since that way, we can make it easier to test and review. And if we get no response, it will be easier to have one place to point the trustees to.

[code]

[2022-08-15 21:54] andreasabel commented on #147
@mightybyte : This is now blocking migration to GHC 9.4.1.
A PR is in place:
- #150

[2022-11-10 02:07] ysangkok commented on #148
I think this can be closed, since GHC 9.2 now works in CI: https://github.com/snapframework/snap-server/commits/master

[2022-11-10 02:11] ysangkok commented on #147
This can now be closed since #150 was merged.

[2022-11-10 07:23] arrowd commented on #148
What about a Hackage release?

[2022-11-12 08:46] #147 closed

[2022-11-15 18:37] cydparser commented on #148
I've added a revision: https://hackage.haskell.org/package/snap-server-1.1.2.0/revisions/

[2022-11-15 18:37] #148 closed

[2022-11-15 18:50] sjakobi commented on #144
Compatibility with mtl-2.3 would also be great to have!

[2022-11-15 19:42] ysangkok commented on #144
This depends on https://github.com/snapframework/snap-core/issues/313 , I think